[submodule "wp-content/themes/roots"]
	path = wp-content/themes/roots
	url = https://bowefrankema@github.com/roots/roots.git
[submodule "wp-content/themes/cfcommunity/lib/WPThumb"]
	path = wp-content/themes/cfcommunity/lib/WPThumb
	url = https://bowefrankema@github.com/humanmade/WPThumb.git
