<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteRule .* - [E=ZIP_EXT:.gz]
RewriteCond %{HTTP:Cache-Control} !no-cache
RewriteCond %{HTTP:If-Modified-Since} !no-cache
RewriteCond %{REQUEST_FILENAME}%{ENV:ZIP_EXT} -f
RewriteRule (.*) $1%{ENV:ZIP_EXT} [L]
RewriteRule ^minify-b(\d+)-([a-zA-Z0-9-_.]+)\.(css|js)$ /index.php?blog=$1&min_group=$2&min_type=$3 [L]
</IfModule>
# END BWP Minify Rules