//Fix padding for admin bar
body {
   padding-top: 70px;
   &.admin-bar-showing {
      padding-top: 70px;
   }
   &.admin-bar-showing .navbar-fixed-top {
      top: 32px;
   }
 }

 //CFCommunity Custom Admin Bar
#wp-admin-bar-wdcab_root {
  img {
    height: 23px;
    width: auto;
    position: relative;
    top: -2px;

  &:hover {
    opacity: 0.8;
  }

  }
}

//Headroom Plugin
.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.navbar-collapse {
  position: relative;
}

//Search Bar
.navbar {

  .search-bar {
   position: relative;
    right: 0;
  }

  .search {
      float: left;
      left: -15px;
      line-height: 22px;
      position: relative;
      width: 310px;

      i {
        color: #999;
        &:hover {
          color: #444;
        }
      }
      & >:hover {
        border-bottom: 0 !important;
      }
    }

      .search input {
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
          background: #FFF;
          border: 0 none;
          border-radius: 1px;
          box-shadow: none;
          height: 51px;
          left: -24px;
          line-height: 18px;
          margin-left: 240px;
          margin-right: 69px !important;
          padding: 0 10px;
          position: absolute;
          right: 0;
          top: 0;
          width: 0;
          font-weight: normal;
          color: @brand-primary;

            &::-webkit-input-placeholder {
              color: #BBBBBB;
              font-weight: 200;
              opacity: 1;
            }

            &:-moz-placeholder { /* Firefox 18- */
              color: #BBBBBB;
              font-weight: 200;
              opacity: 1;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
                color: #BBBBBB;
                font-weight: 200;
                opacity: 1;
            }

      }

          .search:hover input, .search input:focus {
              width: 280px;
              margin-left: 0px;
              border-left: 1px solid #DDD;
          }

  .btn {
    border-radius: 0;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
                color: #222;
    }
  }
}

#bp-user-navigation {
  background: @brand-primary;
  margin-right: -@margin-half;

  > li > a {
    color: #FFFFFF;
    border-bottom: 1px solid @brand-primary;

    &:hover {
      background: darken(@brand-primary, 5%);
      border-bottom: 2px solid darken(@brand-primary, 5%);
    }
  }


  .notification-nav .sub-arrow {
    display: none;
  }

  #loginform {
    padding: @bp-half-padding;
  }


  .menu-register {
    background: #FFF;
    a {
      color: #999999;
    }
  }

  #facebook-login {

    background: none repeat scroll 0 0 #F4F4F4;
    border-top: 1px solid #EFEFEF;
    font-size: 88% !important;
    margin-bottom: -5px;
    margin-top: -15px;
    padding: 10px 10px 18px;

    span {
      background: transparent;
      padding: 0;
    }

  }

  .dropdown-menu
  span {
    background: darken(@white, 10%);
    border-radius: 4px;
    font-size: 80%;
    font-weight: normal;
    padding: 2px 6px;
    color: darken(@white, 50%);
  }
  .sub-arrow {
    display: none;
  }
}

#notification-counter {
  background: darken(@brand-primary, 10%);
  padding: 2px 6px;
  font-size: 90%;
  border-radius: 4px;
  font-weight: bold;
  color: @brand-complimentary;
  position: relative;
  left: 3px;
}

.search input[type="search"] {
    position: relative; 
}


.search:before {
    color: #999;
content: "\f002";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    top: 14px;
    z-index: 1;
}



