.jumbotron {
  background: url("../../assets/img/header-bg.jpg");
  background-size:   cover;             
  background-repeat: no-repeat;
    margin-top: -20px;
    padding-bottom: 60px;
    padding-top: 86px;
}

.home-page {


  .section-title{
margin-bottom: 20px;
text-align: center;
padding: 20px 10px;
margin-top: 30px;
margin-left: -30px;
margin-right: -30px;
margin-bottom: 50px;

 span {
    background: none repeat scroll 0 0 rgba(94, 142, 187, 0.92);
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 110%;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 6px 20px 10px;
 }

    &.grey {
      background: none repeat scroll 0 0 #F2EEE8;
      border-bottom: 6px solid #E3DFDA;
      border-left: 1px solid #F2EEE8;
      border-right: 1px solid #F2EEE8;
      color: #736E66;
      margin-left: -31px;
      margin-right: -31px;
      padding-top: 40px;
      border-top: 6px solid #EBE9E9;
      margin-top: -30px;
    }
  }

  .lead {
    color: #FFFFFF;
    font-size: 19.8px;
    margin-bottom: 21px;
    padding: 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.37);

    // span {
    //   background: #444;
    // }

  }

  .page-top {
    margin-top: -30px;
  }
  .btn {
    padding: 12px 10px;
    font-size: 130%;
    font-weight: 600;
  }

  .fa-reply {
    bottom: -17px;
    color: #E3DFDA;
    font-size: 354%;
    left: 113px;
    position: absolute;
    transform: rotate(-53deg);
  }


    .left-tabs {

      .fa {
      font-size: 85%;
      }

      .nav>li>a {
      position: relative;
      display: block;
      font-weight: 400;
      padding: 10px 15px;
      font-size: 110%;
      }

  }

  .full-width-img {
    border-radius: 2px;
    margin-bottom: -74px;
    margin-left: -29px;
    margin-top: 0;
    max-width: 107.7%;
  }

    .panel-body {
      background: @brand-secondary-light;
      padding: 0 30px 30px;
      margin-bottom: 80px;

      h3 {
        font-size: 30px;
        margin-bottom: 24px;
        margin-top: 24px;
        font-family: "proxima-nova-soft",sans-serif;
        border-bottom: 1px solid #EDF0F3;
        padding-bottom: 17px;
        color: @brand-complimentary;
      }

      .big-title {
            margin-bottom: 10px;
      }

      ul.item-list li {
        margin: 0;
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border-bottom: 1px solid #DEEEFF;
        border-top: 1px solid #FFFFFF;
        padding: 10px 0;
      }

      div.item-desc {
        width: auto;
      }

      img.avatar {
        width: 70px;
        height: auto;
      }

    }


    .panel-default {
      border: none;
      border-radius: 4px !important;
    }

    .left-tabs .nav-tabs>li>a {
    border-radius: 4px 0 0 4px;
    font-size: 120%;
    line-height: inherit;
    margin-right: 2px;
    padding-bottom: 25px;
    padding-top: 25px;
    }

    .left-tabs .nav-tabs>li>a:hover {
      background: #FFF;
    }

    .left-tabs .nav-tabs>li.active>a {
      font-weight: bold;
      color: @brand-complimentary;
      background: @brand-secondary-light;
      border: none;

      &:hover {
        border: 0;
      }

    }

}

.avatar-block {

  margin-bottom: 15px;
  overflow: hidden; 

  .item-avatar {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

  }
}

.side-column {

  text-align: center;

  span {
      font-weight: bold;
      margin-bottom: 10px;
  }

}

 
/************* VIDEO *******************************/

    .fluid-width-video-wrapper {
      width: 100%;
      position: relative;
      padding: 0;
      padding-top: 50%;
    }
    .vendor {
      margin-bottom: 0px;
    }

    .container-video {
      width: 100%;
      min-width: 100%;
      position: relative;
      padding: 0;
      height: 100%;
      &:hover {
        opacity: 0.8;
      }
    }

    .fluid-width-video-wrapper iframe, 
    .fluid-width-video-wrapper object, 
    .fluid-width-video-wrapper embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border:0px;
    }

    .video-well.well{
      -webkit-border-radius:0px;
        -moz-border-radius:0px;
          border-radius:0px;
    }

    /* LEFT TABS SECTION */

.left-tabs .nav-tabs>li {
float: none;
margin-bottom: 3px;
}

.left-tabs  .nav-tabs {
border-bottom: none;
padding-right:0px;
margin-right:-33px;
z-index:1000;
position:relative;
}
.left-tabs .nav-tabs>li>a {
margin-right: 2px;
line-height: 1.42857143;
border: 1px solid transparent;
border-radius: 4px 0px 0px 4px;
}

.left-tabs .tab-content .panel-default{
  -moz-border-radius-topleft: 0px;
-webkit-border-top-left-radius: 0px;
 border-top-left-radius: 0px;
-moz-border-radius-topright: 4px;
-webkit-border-top-right-radius: 4px;
border-top-right-radius: 4px;
-moz-border-radius-bottomright: 4px;
-webkit-border-bottom-right-radius: 4px;
border-bottom-right-radius: 4px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-bottom-left-radius: 0px;
border-bottom-left-radius: 0px;

}

.left-tabs  .nav-tabs>li.active>a, .left-tabs  .nav-tabs>li.active>a:hover, .left-tabs  .nav-tabs>li.active>a:focus {
color: #555;
background-color: #fff;
border: 1px solid #ddd;
border-right:0px;
border-bottom-color: #ddd;
cursor: default;
}

.why-cfcommunity {
    font-size: 115%;
    line-height: 140%;

  p {
  }
}

/*  LiteBox v1.2, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//  =============================================================================== */

/*  Table of Contents
//  ==================================================
//    #Default


/*  #Default
//  ================================================== */

  .litebox-overlay,
  .litebox-overlay > * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .litebox-overlay {
    display: none;
    width: 100%;
    min-width: 280px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  @-webkit-keyframes liteboxLoader {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @-moz-keyframes liteboxLoader {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
  }

  @-ms-keyframes liteboxLoader {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); }
  }

  @-o-keyframes liteboxLoader {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); }
  }

  @keyframes liteboxLoader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .litebox-overlay .litebox-loader {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 20px;
    top: 20px;
    border: 3px solid #111;
    border-right-color: #fff;
    border-radius: 50%;
    -webkit-animation: liteboxLoader 1s linear infinite;
    -moz-animation: liteboxLoader 1s linear infinite;
    -ms-animation: liteboxLoader 1s linear infinite;
    -o-animation: liteboxLoader 1s linear infinite;
    animation: liteboxLoader 1s linear infinite;
  }

  .litebox-overlay .litebox-close {
    width: 40px;
    height: 40px;
    background: url('../imgs/litebox-close.png') no-repeat center;
    opacity: .7;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .litebox-overlay .litebox-close:hover {
    opacity: 1;
    cursor: pointer;
  }

  .litebox-overlay .litebox-nav {
    display: none;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    opacity: .2;
    position: absolute;
    top: 50%;
    z-index: 9999999;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .litebox-overlay .litebox-nav:hover {
    opacity: .5;
    cursor: pointer;
  }

  .litebox-overlay .litebox-prev {
    background: url('../imgs/litebox-prev.png') no-repeat center;
    left: 20px;
  }

  .litebox-overlay .litebox-next {
    background: url('../imgs/litebox-next.png') no-repeat center;
    right: 20px;
  }

  .litebox-overlay .litebox-container {
    position: absolute;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    overflow: hidden;
  }

  .litebox-overlay .litebox-container.litebox-scroll { overflow-y: auto; }

  .litebox-overlay img,
  .litebox-overlay iframe {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    vertical-align: middle;
    overflow-x: hidden;
  }

  .litebox-overlay iframe {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 999999;
  }

  .litebox-overlay .litebox-inline-html {
    width: 100%;
    padding: 20px;
    background: #FFF;
    line-height: normal;
    overflow-x: hidden;
    line-height: normal !important;
    position: absolute;
  }

  .litebox-overlay .litebox-error {
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    line-height: inherit;
  }

  .litebox-overlay .litebox-error span {
    background: rgba(0, 0, 0, .9);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    color: #FFF;
    text-shadow: 1px 1px 0 #000;
    line-height: normal;
  }

  @media only screen and (max-width: 479px) {
    .litebox-overlay .litebox-close { display: none; }
  }