// Invite Page
.page-id-395 {


    @media screen and (min-width: 768px) {

     .main {
            width: 65% !important;
        }
        .sidebar {
            width: 33% !important;
        }

    }

    .avatar-block .item-avatar {
    float: left;
    margin-bottom: 0;
    margin-right: 0;

    }

    #text-7 {
        h4 {
            background: darken(#82A8C8, 5%); 
            border-color: darken(#82A8C8, 7%); 
        }


        background: none repeat scroll 0 0 #82A8C8;
        border: 0 none;
        border-radius: 4px 0 0 4px;
        color: #FFFFFF;

        img {
            background: none repeat scroll 0 0 #94B4D0;
            border-radius: 0;
            box-shadow: 0 2px 1px rgba(54, 51, 51, 0.15);
            margin-left: -30px;
            margin-right: -30px;
            margin-top: -10px;
            max-width: 119.3%;
        }
    }


}


.single.wordpress-page, .page.wordpress-page {

    .main {
        color: lighten(@text-color, 15%);
        font-size: 110%;
        line-height: 160%;


        h1, h2, h3, h4{
        color: darken(@text-color, 5%);
        line-height: 150%;
        }

        h2 {
           background: none repeat scroll 0 0 #82A8C8;
            border-bottom: 1px solid #7D91A4;
            border-top: 1px solid #DEE1E4;
            color: #FFFFFF;
            font-size: 140%;
            letter-spacing: 1px;
            margin: 25px -30px;
            padding: 10px 30px;
            text-transform: uppercase;
        }

        .intro-paragraph {
            color: #898989;
            font-size: 110%;
            font-weight: 200;
            line-height: 160%;
            margin-bottom: 30px;
            text-align: left;
        }

        img {
            background: none repeat scroll 0 0 #FFFFFF;
            border: 1px solid #F5F5F5;
            border-radius: 4px;
            padding: 5px;
            box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.15);

            &.wp-smiley {
                border: 0 none;
                box-shadow: none;
                display: inline;
                height: 12px;
                padding: 0;
                position: relative;
                top: -1px;
                width: 12px;
            }
        }

        .tiled-gallery img {
            background: none;
            border: 0;
            border-radius: none;
            padding: none;
            box-shadow: none;
        }

        .postthumb img {
            border-radius: 4px 4px 0 0;
            box-shadow: none;
            margin-bottom: -68px;
            padding: 0;
            border: 0;
        }

    }

    &.has-featured-image .page-header h1 {
    background: none repeat scroll 0 0 rgba(34, 30, 30, 0.9);
    color: #FFF;
    border-bottom: 0;
    }

    .page-header {
        padding-bottom: 0;
    }

    .post-meta {
    color: #E6E6E6;
    font-size: 80%;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
    margin-top: -9px;
    text-transform: uppercase;
    }


//Sidebar

    //Comments

    .media-list {
        li {
            border-bottom: 1px solid #F2F2F2;
            font-size: 90%;
            padding-bottom: 15px;
            padding-top: 15px;
            line-height: 140%;
        }
        .avatar {
            margin-right: 20px;
            margin-top: -19px;
            width: 60px;
            height: 60px;
        }
        time a,.comment-edit-link {
            font-size: 75%;
            font-weight: bold;
            text-transform: uppercase;
        }
        p {
            background: none repeat scroll 0 0 #fff;
            border-left: 1px solid #F4F4F4;
            margin-bottom: 0;
            margin-top: 0;
            padding: 15px 15px 10px;
        }
        p:first-of-type {
            margin-top: 20px;
        }
        .comment-reply-link {
            display: inline-block;
            float: right;
            font-size: 85%;
            font-weight: bold;
            letter-spacing: 0.5px;
            padding-top: 15px;
            text-transform: uppercase;
        }
    }
}

.fancy-list {

    margin: 0;
    padding: 0;

    li {
        background: none repeat scroll 0 0 #F7FBFF;
        border-radius: 2px;
        font-weight: bold;
        list-style: none outside none;
        margin-bottom: 10px;
        padding: 7px 15px 8px;

        span {
            display: block;
            font-size: 90%;
            font-style: italic;
            font-weight: normal;
            line-height: 140%;
            padding-bottom: 7px;
            padding-top: 8px;
        }

        i {
            color: #81A8CA;
            font-size: 90%;
            margin-right: 4px;
            position: relative;
            top: 0;
        }

    }  

    &.simple {
        li {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
            border: 0;
            margin-bottom: 0;
            padding-bottom: 8px;
            padding-top: 10px;
            padding-left: 0;
            
            span {
                border-top: 1px solid #F4FAFF;
                display: block;
                font-size: 90%;
                font-style: italic;
                font-weight: normal;
                line-height: 140%;
                margin-top: 2px;
                padding-bottom: 7px;
                padding-top: 10px;
            }
        }
    } 
}


.feature-overview {

    p img {
        float: right;
        background: #FFF;
    }

    p:nth-child(2n) {
        background: #EFEFEF;

        img {
            float: left;
        }
    }

}