ul.button-nav {
    li.current {
        a {
            font-weight: bold;
        }
    }
    li {
        float: left;
        margin: 0 10px 10px 0;
        list-style: none;
    }
}
div#message.updated {
    clear: both;
    p {
        background-color: #efc;
        border: 1px solid #591;
        color: #250;
    }
}
div.accept,div.reject {
    float: left;
    margin-left: 10px;
}
div#message {
    margin: 0 0 15px;
}
#message.info {
    margin-bottom: 0;
}
.standard-form#signup_form {
    div {
        div.error {
            background: #faa;
            color: #a00;
            margin: 0 0 10px 0;
            padding: 6px;
            width: 90%;
        }
    }
}
div#message.error {
    p {
        background-color: #fdc;
        border: 1px solid #a00;
        clear: left;
        color: #800;
    }
}
#sitewide-notice.admin-bar-on {
    #message {
        top: 3.3em;
    }
}
div#message p,#sitewide-notice p {
    font-size: 90%;
    display: block;
    padding: 10px 15px;
}
#sitewide-notice {
    strong {
        display: block;
        margin-bottom: -1em;
    }
    #message {
        left: 2%;
        position: fixed;
        top: 1em;
        width: 96%;
        z-index: 9999;
    }
}
