thead:first-child tr th,thead:first-child tr td {
    padding-left: 10px;
    padding-right: 10px;
}
form#send-invite-form {
    margin-top: 20px;
    .main-column {
        margin-left: 190px;
    }
}
div#invite-list {
    height: 400px;
    overflow: scroll;
    padding: 5px;
    width: 160px;
    float: left;
}
div#item-header {
    div#item-header-content {
        margin-left: 0;
    }
}
form.standard-form {
    .left-menu {
        float: left;
        #invite-list {
            ul {
                margin:1%;
                list-style: none;
                li {
                    margin:0 0 0 1%;
                }
            }
        }
    }
    .main-column {
        margin-left: 190px;
        ul#friend-list {
            clear:none;
            h4 {
                clear:none;
            }
        }
    }
}
