/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/

// BUDDYPRESS PROFILES
.buddypress {
  #item-header-avatar {
    border-radius: 4px 4px 0 0;
    margin: -@margin-global;
    overflow: hidden;
    padding-bottom: 0;
  }
  .sidebar 
    #profile-quick-menu {
    background: none repeat scroll 0 0 #29BB9C;
    font-weight: bold !important;
    padding-bottom: 0;
    padding-top: 10px;
    text-align: center;
    }
    #item-buttons {
    margin: @margin-global -@margin-global -@margin-global;
    text-align: center;
    .generic-button {
    border-bottom: 1px solid #F1F1F1;
    border-radius: 0 0 0 0;
    width: 100%;
    }
  }
}


.current-visibility-level {
    font-weight: bold;
    font-style: normal;
}
.field-visibility-settings legend,.field-visibility-settings-toggle {
    font-style: italic;
}
div.profile {
    h4 {
        margin-bottom: auto;
        margin-top: 15px;
    }
}
body.no-js {
    .field-visibility-settings {
        display: block;
    }
}
body.no-js .field-visibility-settings-toggle,body.no-js .field-visibility-settings-close {
    display: none;
}
#profile-edit-form {
    ul.button-nav {
        margin-top: 15px;
    }
}
.field-visibility-settings-toggle a,.field-visibility-settings a {
    font-size: 80%;
}
.field-visibility-settings,.field-visibility-settings-toggle,.field-visibility-settings-notoggle {
    color: @gray-light;
}
.field-visibility-settings {
    display: none;
    margin-top: 10px;
}
.standard-form {
    .field-visibility-settings {
        label {
            margin: 0;
            font-weight: normal;
        }
    }
}
body.register {
    div.page {
        ul {
            list-style: none;
        }
    }
}
