.widget.buddypress {
    ul.item-list li {
        padding-bottom: @bp-half-padding;
    }
    div.avatar-block {
        overflow: hidden;
    }
    div.item-options {
        background: darken(@bp-white, 2%);
        font-size: 70%;
        font-weight: bold;
        margin: -10px -@bp-global-margin 0;
        padding: 8px @bp-global-padding;
        text-transform: uppercase;
    }
    span.activity {
        display: inline-block;
    }
    div.item {
        margin:0 0 1em 0;
    }
}
